{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<!--<link rel="stylesheet" type="text/css" href="/static/css/styles.css">-->
<h2 align="center"><a class="btn btn-primary" href="/add">Добавить заметку</a></h2>
{% for note in notes %}
<h3>Note "{{ note.title.capitalize() }}"</h3>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="400px"> Content</td>
            <td class="title" width="150px" align="center">Created date</td>
            <td width="50"></td>
        </tr>
        <tr class="my_row">
            <td class="ordinary">{{ note.content }} </td>
            <td class="ordinary" align="center">{{ note.created_date }} </td>
            <td width="50"><a class="btn btn-delete" href="/del/{{note.id}}">Удалить</a></td>
        </tr>

    </table>
</div>
<br>
{% endfor %}

{% endblock %}
